<p id="notice"><%= notice %></p>

<p>
  <strong>Title 1:</strong>
  <%= @service.title_1 %>
</p>

<p>
  <strong>Description 1:</strong>
  <%= @service.description_1 %>
</p>

<p>
  <strong>Title 2:</strong>
  <%= @service.title_2 %>
</p>

<p>
  <strong>Description 2:</strong>
  <%= @service.description_2 %>
</p>

<p>
  <strong>Title 3:</strong>
  <%= @service.title_3 %>
</p>

<p>
  <strong>Description 3:</strong>
  <%= @service.description_3 %>
</p>

<p>
  <strong>Title 4:</strong>
  <%= @service.title_4 %>
</p>

<p>
  <strong>Description 4:</strong>
  <%= @service.description_4 %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
