<p id="notice"><%= notice %></p>

<p>
  <strong>Description 1:</strong>
  <%= @slider.description_1 %>
</p>

<p>
  <strong>Description 2:</strong>
  <%= @slider.description_2 %>
</p>

<p>
  <strong>Description 3:</strong>
  <%= @slider.description_3 %>
</p>

<p>
  <strong>Description 4:</strong>
  <%= @slider.description_4 %>
</p>

<p>
  <strong>Description 5:</strong>
  <%= @slider.description_5 %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
