<%= render partial: "ie7"  %>
    <div id="front">
        <div class="site-header">
            <div class="container">
                <div class="row">
                   <%= render partial: "nav" %>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.site-header -->
    </div> <!-- /#front -->

    <div class="site-slider">
        <%= render partial: "slider" %>    
    </div>
    </div> <!-- /.site-slider -->

    <div id="services" class="content-section">
        <%= render partial: "services" %>
    </div> <!-- /#services -->


    <div id="product-promotion" class="content-section">
        <%= render partial: "product_promotion" %>
    </div> <!-- /#product-promotion -->

    <div id="products" class="content-section">
        <%= render partial: "products" %> 
    </div> <!-- /#products -->

    <div id="contact" class="content-section">
    <%= render partial: "contact" %>
    </div> <!-- /#contact -->

    <div class="site-footer">
    <%= render partial: "footer" %>
    </div> <!-- /.site-footer -->
</body>